.container-fluid {
  max-width: 800px;
  padding: 0px;
}

th {
  background-color: aqua;
  padding: 10px 0 10px 0;
}

tr {
  border-top: 1px solid grey;
}

td {
  padding: 10px 0 10px 0;
}

.row {
  margin-bottom: 10px;
}

h2 {
  display: inline-block;
  margin: 0px;
}

table {
  width: 100%;
}

button {
  float: right;

  &.save {
    float: left;
  }
}

textarea {
  width: 100%;
}
