@import '../../../variables.scss';

.container-fluid {
  padding: 0px;
}

th {
  background-color: $aqua;
  padding: 10px 0 10px 0;
}

tr {
  border-top: 1px solid $grey;
}

td {
  padding: 10px 0 10px 0;
  width: 30%;
}

.row {
  margin-bottom: 10px;
}

h2 {
  display: inline-block;
  margin: 0px;
}

table {
  width: 100%;
}

button {

  &.toggle-detail {
    float: right;
  }

  &.save {
    float: left;
  }
}

textarea {
  width: 100%;
}

.early {
  color: $red;
}

.ontime {
  color: $green;
}

.late {
  color: $blue;
}

.unknown {
  color: $black;
}
